/*----------------------------------------------------------------------------------------*/
/*-- Mobile/Main CSS --*/
/*----------------------------------------------------------------------------------------*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-- Navigation Bar --*/
.navbar {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #070549;
    border: 1px solid #000000;
    padding-bottom: 10px;
    margin: 0px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #FFFFFF;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500 !important;
    font-size: 24px;
}

.active {
    display: block;
}


/*-- Jumbotron --*/
.logo-jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/jumbotron.jpg");
    height: 300px;
    background-size: cover;
    opacity: 0.7;
}

.logo-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 250px;
    height: 200px;
}

.motto-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-text {
    font-family: 'Bitter', serif;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 1px 1px 3px #070549;
    color: #FFFFFF;
}
/*-- Intro/Info Section/Mobile --*/

.intro-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px; 
  background-color: lightgray;
}

.intro-info-text {
  text-align: center;
  padding: 15px;
}
.intro-info-text h1{
margin-bottom: 35px;
}

.intro-info-text p{
  margin-bottom: 35px;
  padding-bottom: 15px;
  }

.intro-info-list li{
padding: 15px;
margin-bottom: 15px;
}



/*-- Home Page Services Section/Mobile --*/
@media screen and (max-width: 767px) {
  .first-set-services,
  .second-set-services,
  .third-set-services {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .first-set-services .refrigerator-image,
  .first-set-services .stove-image,
  .first-set-services .washer-image,
  .second-set-services .microwave-image,
  .second-set-services .dishwasher-image,
  .second-set-services .maintenance-image,
  .third-set-services .sell-parts-image {
    margin-bottom: 20px;
    width: auto;
    padding: 10px;
  }
}

/*-- Get a quote today/Mobile --*/
.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px; 
  background-color: lightgray;
}

.quote-text {
  text-align: center;
  padding: 5px;
}

.quote-text h1 {
  margin-bottom: 5px;
}
.quote-text p {
  margin-bottom: 5px; 
}

.contact-us {
  display: inline-block;
  padding: 10px 20px;
  background-color: #070549;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.contact-us:hover  {
  background-color: #999;
}

.contact-us:active {
  background-color: #555;
}

/*-- Forms/Mobile --*/
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070549;
  }

  .inner-container {
    background-color: #ffffff;
    padding: 35px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-row {
    margin-bottom: 20px;
    position: relative;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }

  .form-note {
    margin-top: 10px;
    font-size: 12px;
  }

  .required {
    color: red;
    position: absolute;
    top: 0;
    right: -10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-column {
    flex-direction: column;
  }

  .form-column:last-child {
    margin-right: 0;
  }
}


/*-- Testimonials/Mobile --*/
.quote-arrow-left,
.quote-arrow-right {
  font-size: 24px;
  color: #070549;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 10px;
}

.quote-arrow-left:hover,
.quote-arrow-right:hover {
  transform: scale(1.2);
}

.quote-arrow-left {
  margin-right: 5px;
}

.quote-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
}
.quote-content {
  margin: 0 20px; 
}


/*-- About Us/Home Page/Mobile --*/

.about-us-container {
  align-self: center;
  padding: 20px;
  background-color: lightgrey;
  padding: 20px;
} 
.about-us-container h1 {
  text-align: center;
  margin-bottom: 10px;
}
.about-us-container p {
  text-align: center;
   margin-left: 5px;
  margin-right: 5px;
}


/*--Services/Mobile--*/

.services-header {
  text-align: center;
  padding: 30px;
}

.refrigerators, .ovens, .washers, .microwaves, .dishwashers, .maintenance, .sell-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.refrigerators img, .ovens img, .washers img, .microwaves img, .dishwashers img, .maintenance img, .sell-parts img {
  width: 100px;
  height: 100px;
  align-self:center;
  padding-bottom: 10px;
}

.refrigerators, .ovens, .washers, .microwaves, .dishwashers, .maintenance, .sell-parts {
  text-align: center;
}

/*--About Us/Mobile--*/

.about-us-header {
    text-align: center;
    padding: 25px;
    }

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    gap:15px;
}
.about-us p {
    text-align: center;
}
.about-us img {
    height: 425px;
    width: 100%;
    padding-bottom: 25px;
}


/*--Footer/Mobile--*/
@media screen and (max-width: 767px) {
  .footer {
    background-color:#070549;
    padding: 25px;
    text-align: center;
    margin: 0px;
  }

  .footer-header {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .footer-image {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info p {
    margin: 5px 0;
    color: #fff;
  }
}

/*----------------------------------------------------------------------------------------*/
/*-- Desktop CSS --*/
/*----------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    
/*-- Navigation Bar --*/
.navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
}

.main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
 }

.main-nav li {
        margin: 0;
}

.nav-links {
        margin-left: 40px;
}

.logo {
        margin-top: 0;
}

.navbar-toggle {
        display: none;
}

.logo:hover,
.nav-links:hover {
        color: #FFFFFF;
}

    /*-- Jumbotron --*/
.logo-jumbotron {
        background-image: url("../img/jumbotron.jpg");
        height: 400px;
}

.logo-img {
        width: 350px;
        height: 300px;
}

.motto-text {
        font-size: 24px;
        text-shadow: 3px 3px 5px #070549;
}


/*-- Intro/Info Section --*/
.intro-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px; 
  background-color: lightgray;
}

.intro-info-text {
  text-align: center;
  padding: 15px;
}
.intro-info-text h1 {
margin-bottom: 35px;
}

.intro-info-text p {
  margin-bottom: 35px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  }

.intro-info-list li {
padding: 15px;
margin-bottom: 15px;
font-size: 20px;
}


/*-- Home Page Services Section --*/
.first-set-services,
.second-set-services,
.third-set-services {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.first-set-services .refrigerator-image,
.first-set-services .stove-image,
.first-set-services .washer-image,
.second-set-services .microwave-image,
.second-set-services .dishwasher-image,
.second-set-services .maintenance-image,
.third-set-services .sell-parts-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275px; 
  padding:25px;
}

.first-set-services img,
.second-set-services img,
.third-set-services img {
  width: 160px;
  height: 160px;
}

.first-set-services p,
.second-set-services p,
.third-set-services p {
  text-align: center;
  margin-top: 10px;
}

a {
  text-decoration: none; 
  color: black; 
}

/*-- Get a quote today --*/

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px; 
  background-color: lightgray;
}

.quote-text {
  text-align: center;
  padding: 35px;
}

.quote-text h1 {
  margin-bottom: 10px;
}
.quote-text p {
  margin-bottom: 20px; 
}

.contact-us {
  display: inline-block;
  padding: 10px 20px;
  background-color: #070549;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.contact-us:hover  {
  background-color: #999;
}

.contact-us:active {
  background-color: #555;
}


/*-- Forms --*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #070549;
}

.inner-container {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #555;
}

.form-note {
  margin-top: 10px;
  font-size: 12px;
}

.required {
  color: red;
  position: absolute;
  top: 0;
  right: -10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

.form-column:last-child {
  margin-right: 0;
}

/*-- Testimonials --*/

.quote-arrow-left,
.quote-arrow-right {
  font-size: 24px;
  color: #070549;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 50px;
}

.quote-arrow-left:hover,
.quote-arrow-right:hover {
  transform: scale(1.2);
}

.quote-arrow-left {
  margin-right: 10px;
}

.quote-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 50px;
}
.quote-content {
  margin: 0 20px; 
}

/*-- About Us/Home Page --*/

.about-us-container {
  align-self: center;
  padding: 20px;
  background-color: lightgrey;
  padding: 50px;
} 
.about-us-container h1 {
  text-align: center;
  margin-bottom: 25px;
}
.about-us-container p {
  text-align: center;
   margin-left: 50px;
  margin-right: 50px;
}


/*-- Footer--*/

.footer {
  background-color:#070549;
  padding: 50px;
  text-align: center;
  margin: 0px;
}

.footer-header {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  margin: 5px 0;
  color: #fff;
}


/*-- Services Page--*/

.services-header {
  text-align: center;
  padding: 40px;
}

.refrigerators, .ovens, .washers, .microwaves, .dishwashers, .maintenance, .sell-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-right: 70px;
  margin-left: 70px;
}

.refrigerators img, .ovens img, .washers img, .microwaves img, .dishwashers img, .maintenance img, .sell-parts img {
  width: 160px;
  height: 160px;
  align-self:center;
  padding-bottom: 10px;
}

.refrigerators, .ovens, .washers, .microwaves, .dishwashers, .maintenance, .sell-parts {
  text-align: center;
}

/*-- About Us Page --*/
.about-us {
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  gap:35px;
  padding: 25px;
  align-items: flex-start;
}

.about-us p {
  margin-left:350px ;
  margin-right: 250px;
  font-size: 18px;
}
.about-us img {
  width: 550px;
  height: auto;
  margin-right: 200px;
}

/*-- Font Changes --*/
* p {
font-size: 20px;
}

* h1 {
  font-size: 28px;
}